#su-wrapper {
	padding-top: 20px;
}
.su-clear {
	clear: both;
	height: 0;
}
.su-onethird-column {
	width: 40%;
	margin: 0;
	float: left;
}
.su-twothird-column {
	width: 58%;
	margin: 0;
	float: left;
}

/* New shortcodes and options highlight */
.su-new-shortcode td {
	background: #ffd;
}

/* Code editor */
.CodeMirror {
	width: 660px;
	height: 300px;
	background: #f9f9f9;
	border: 1px solid #ccc;
	cursor: text;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* Tabs */
#su-tabs {
	width: 700px;
	height: 33px;
	background: url(../images/admin/tabs.png) no-repeat;
}
#su-tabs a {
	display: block;
	float: left;
	height: 33px;
	padding: 0 0 0 10px;
	margin: 0 0 0 5px;
	cursor: pointer;
	color: #333;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
}
#su-tabs span {
	display: block;
	height: 33px;
	line-height: 39px;
	padding: 0 10px 0 0;
	text-decoration: none;
	color: #333;
}
#su-tabs a:hover,
#su-tabs .su-current {
	background: url(../images/admin/tab.png) no-repeat;
}
#su-tabs a:hover span,
#su-tabs .su-current span {
	line-height: 34px;
	background: 100% 100% url(../images/admin/tab.png) no-repeat;
}

.su-pane {
	position: relative;
	display: none;
	width: 668px;
	background: #fff;
	padding: 15px;
	margin-bottom: 30px;
	border-right: 1px solid #DFDFDF;
	border-bottom: 1px solid #DFDFDF;
	border-left: 1px solid #DFDFDF;
}

/* Messages (notifications) */
.su-message {
	position: absolute;
	right: 2px;
	top: 2px;
	display: none;
	margin: 0;
	padding: 5px 10px;
	font-size: 11px;
	font-weight: bold;
}
.su-message-loading {
	background: #ff9;
	color: #000;
	border: 1px solid #C2C23E;
}
.su-message-success {
	background: #8EF59C;
	color: #000;
	border: 1px solid #66B070;
}