/*** Shortcodes Ultimate - players elements ***/

/*		Audio
---------------------------------------------------------------*/

.su-audio {
	position: relative;
	height: 40px;
	margin-bottom: 1.5em;
	background: #2d89ef;
	color: #fff;
	font-size: 10px;
}
.su-audio .jp-play,
.su-audio .jp-pause {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 40px;
	height: 40px;
	background-image: url('images/player/metro.png');
	background-repeat: no-repeat;
	cursor: pointer;
}
.su-audio .jp-play { background-position: 0 0 }
.su-audio .jp-pause { background-position: -40px 0 }
.su-audio .jp-play:hover,
.su-audio .jp-pause:hover {
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.4);
}
.su-audio .jp-progress {
	position: absolute;
	left: 40px;
	top: 0;
	right: 0;
	height: 40px;
}
.su-audio .jp-seek-bar,
.su-audio .jp-play-bar {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	cursor: pointer;
}
.su-audio .jp-play-bar {
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.4);
}
.su-audio .jp-current-time,
.su-audio .jp-duration {
	position: absolute;
	bottom: 1px;
	font-size: 10px;
}
.su-audio .jp-current-time { left: 45px }
.su-audio .jp-duration { right: 5px }

/*		Video
---------------------------------------------------------------*/

.su-video {
	position: relative;
	margin-bottom: 1.5em;
	overflow: hidden;
}
.su-video .jp-title {
	position: absolute;
	top: -100px;
	left: 0;
	width: 100%;
	height: 30px;
	padding: 0 1em;
	line-height: 30px;
	font-size: 0.9em;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	transition: top .2s;
	-o-transition: top .2s;
	-ie-transition: top .2s;
	-moz-transition: top .2s;
	-webkit-transition: top .2s;
}
.su-video:hover .jp-title { top: 0 }
.su-video .jp-start {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	transition: opacity .2s;
	-moz-transition: opacity .2s;
	-webkit-transition: opacity .2s;
	-o-transition: opacity .2s;
}
.su-video:hover .jp-start {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.su-video.jp-video-full {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.su-video.jp-video-full .jp-jplayer {
	position: fixed !important;
	left: 0;
	top: 0;
	overflow: hidden;
}
.su-video .jp-gui { position: relative }
.su-video.jp-video-full .jp-gui {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}
.su-video-controls-no .jp-gui {
	position: absolute !important;
	bottom: -100px;
	left: 0;
	right: 0;
	transition: bottom .2s;
	-o-transition: bottom .2s;
	-ie-transition: bottom .2s;
	-moz-transition: bottom .2s;
	-webkit-transition: bottom .2s;
}
.su-video-controls-no:hover .jp-gui { bottom: 0 }
.su-video img {
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	border: none !important;
	margin: 0 !important;
	padding: 0 !important;
}
.su-video .jp-start { background: 50% 50% url('images/player/metro-start.png') no-repeat }
.su-video .jp-gui {
	height: 40px;
	background: #2d89ef;
}
.su-video .jp-gui .jp-play,
.su-video .jp-gui .jp-pause {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.su-video .jp-gui .jp-play:hover,
.su-video .jp-gui .jp-pause:hover {
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.4);
}
.su-video .jp-gui .jp-play { background: 0 0 url('images/player/metro.png') no-repeat }
.su-video .jp-gui .jp-pause { background: -40px 0 url('images/player/metro.png') no-repeat }
.su-video .jp-full-screen,
.su-video .jp-restore-screen {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.su-video .jp-full-screen:hover,
.su-video .jp-restore-screen:hover {
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.4);
}
.su-video .jp-full-screen { background: 0 -40px url('images/player/metro.png') no-repeat }
.su-video .jp-restore-screen { background: -40px -40px url('images/player/metro.png') no-repeat }
.su-video .jp-progress {
	position: absolute;
	top: 0;
	left: 40px;
	right: 40px;
	height: 100%;
}
.su-video .jp-seek-bar,
.su-video .jp-play-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	cursor: pointer;
}
.su-video .jp-play-bar {
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.4);
}
.su-video .jp-current-time,
.su-video .jp-duration {
	position: absolute;
	bottom: 1px;
	color: #fff;
	font-size: 10px;
}
.su-video .jp-current-time { left: 50px }
.su-video .jp-duration { right: 50px }